.cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 25px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    text-decoration: none;
    color: #757575;
    &:last-child {
      margin: 0;
    }
    &:hover {
      box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.06);
    }
    @media (min-width: $sm) {
      width: calc(50% - 20px);
      margin: 0 0 40px;
      border-radius: 30px;
      &:last-child {
        margin: 0 0 40px;
      }
    }
  }
  .card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-content-item {
      width: calc(33.33% - 8px);
      border-radius: 11px;
      overflow: hidden;
      border: 1px solid #eee;
      img {
        display: block;
        width: 100%;
      }
    }
  }

  .card-head {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 16px;
    @media (min-width: $xs) {
      padding: 0 40px 0 0;
    }
  }
  .card-logo {
    width: 60px;
    height: 60px;
    img {
      display: block;
      height: 60px;
      object-fit: contain;
      border-radius: 12px;
    }
  }
  .card-head-plus {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background: #e1e0db;
    border-radius: 50px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: #ccc;
    }
    @media (min-width: $xs) {
      display: block;
    }
  }
  .card-title {
    padding-left: 6px;
    h3 {
      font-weight: 600;
      font-size: 22px;
      color: #000000;
    }
    .card-title-top {
      display: flex;
      align-items: center;
    }

    .card-badge {
      display: block;
      background: #666;
      padding: 5px 8px;
      border-radius: 4px;
      font-weight: 600;
      font-size: 8px;
      line-height: 10px;
      text-transform: uppercase;
      color: #ffffff;
      margin-left: 6px;
      &.cb-green {
        background: #52d7b7;
      }
      &.cb-orange {
        background: #f6b840;
      }
    }

    .card-title-bottom {
      margin: 5px 0 0;
      font-weight: 500;
      font-size: 14px;
      color: #757575;
    }
  }
}

.tab-android .card-logo {
  img {
    border-radius: 50px;
  }
}
