.categories-wrap {
  margin: 0 0 30px;
  @media (min-width: $sm) {
    margin: 0 0 40px;
  }
  .container {
    @media (min-width: $sm) {
      display: flex;
      align-items: center;
    }
  }
  .categories-text {
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #757575;
    text-transform: uppercase;
    margin: 0 0 10px;
    @media (min-width: $sm) {
      margin: 0 12px 0 0;
    }
  }

  .categories-slider-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-right: 52px;
  }
  .categories-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .swiper-slide {
    width: auto;
  }
  .categories-item {
    background: #e1e0db;
    border: 1px solid #e1e0db;
    border-radius: 80px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #666666;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    @media (min-width: $sm) {
      font-size: 14px;
      line-height: 17px;
      padding: 12px 24px;
    }
    &:hover {
      background: #eee;
    }
  }
  .swiper-slide-active {
    .categories-item {
      color: #666666;
      background: #fff;
      border-color: #e8e7e5;
    }
  }
  .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e1e0db;
    border-radius: 80px;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      background: #fff;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    &.swiper-button-disabled {
      background: #e1e0db !important;
      cursor: not-allowed;
    }
    &.swiper-button-lock {
      display: none;
    }
  }
}
