.image-items-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 0 20px;
  @media (min-width: $md) {
    margin-left: -10px;
    margin-right: -10px;
  }
  form {
    margin: 0 auto 20px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    @media (min-width: $md) {
      width: calc(100% - 20px);
    }
  }
  .image-item,
  .dz-preview {
    display: block;
    width: 100%;
    background: #f0efea;
    width: calc(50% - 20px);
    margin: 10px;
    border-radius: 15px;
    position: relative;
    @media (min-width: $xs) {
      width: calc(33.33% - 20px);
      margin: 10px;
    }
    @media (min-width: $sm) {
      width: calc(25% - 20px);
    }
    @media (min-width: $md) {
      width: calc(16.66% - 20px);
    }
    &.dz-complete {
      display: none;
    }
  }

  .dz-image,
  .image-item {
    img {
      display: block;
      border-radius: 15px;
      width: 100%;
      pointer-events: none;
      @media (min-width: $md) {
        border-radius: 25px;
      }
    }
  }
  .image-item {
    img {
      width: 100%;
      min-height: 296px;
      display: block;
      background-color: #eee;
    }
    .remove-item {
      position: absolute;
      bottom: 15px;
      right: 15px;
      background-color: #e1e0db;
      background-image: url(../images/delete.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 15px;
      border-radius: 7px;
      text-decoration: none;
      width: 30px;
      height: 30px;
      border: 1px solid #ccc;
      z-index: 99;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }
    }
  }
  .dz-preview {
    background: transparent;
    .dz-details {
      margin: 10px 0 5px;
    }
  }
}

.os-tab-cms {
  margin: 0 0 20px;
}

.cms-cats {
  .container {
    display: block;
  }
  .categories-item {
    display: inline-block;
    margin: 15px 15px 0 0;
    &.active {
      border-color: #777;
      background: #fff;
      color: #000;
    }
  }
  .cat-text {
    display: block;
    font-weight: bold;
    text-transform: initial;
    letter-spacing: initial;
  }

  .categories-add-new {
    margin: 20px 0 0;
    display: inline-block;
    vertical-align: middle;
    background: #777;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    text-transform: initial;
    cursor: pointer;
    line-height: 1;
    letter-spacing: initial;
    font-size: 14px;
    &:hover {
      background: #444;
    }
  }
}

.user-button.create-btn {
  margin-right: 0 !important;
}

.editable-parent {
  pointer-events: none;
}

.editable-item {
  display: inline-block;
  pointer-events: auto;
  width: auto;
  white-space: nowrap;
  cursor: text;
  &:focus {
    outline: 1px dashed #aaa;
  }
  &:empty::before {
    content: attr(data-placeholder);
    color: #a8a5a5;
  }
}

.cms-tab {
  display: none;
  &.cms-tab-active {
    display: block;
  }
}

.links-wrap {
  margin: 0 0 30px;
  h4 {
    margin: 0 0 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #292929;
  }
  .links-item-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    @media (min-width: $sm) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .links-item {
    width: 100%;
    margin: 0 0 15px;
    display: flex;
    align-items: center;
    @media (min-width: $sm) {
      width: calc(50% - 20px);
    }
    label {
      display: block;
      margin-right: 20px;
    }
    .links-item-icon {
      width: 60px;
      background: #000;
      height: 60px;
      display: flex;
      align-items: center;
      border-radius: 9px 0 0 9px;
      &.ios-link {
        background: linear-gradient(180deg, #00aeea 0%, #0063db 100%);
      }
      img {
        width: 24px;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }
    input {
      padding: 15px;
      background: #fff;
      border: 1px solid #666;
      flex-grow: 1;
      border-radius: 0 9px 9px 0;
      height: 60px;
      font-size: 16px;
      outline: none;
    }
  }
}

.rounded-btn.switch-btn {
  background: transparent !important;
  padding: 0;
  height: 20px;
}

.rounded-btn.save-btn {
  background: #00d25e;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.06);
  &:hover {
    background: green;
  }
}

.aps-toaster {
  display: none;
  font-size: 16px;
  background: #00d25e;
  border-radius: 10px;
  color: #fff;
  position: fixed;
  top: 70px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: max-content;
  padding: 10px 20px;
  z-index: 999;
  opacity: 0;
  transform: none;
  @media (min-width: $sm) {
    padding: 15px 30px;
    font-size: 20px;
  }
  &.show-toaster {
    display: block;
    animation: toastAnimation 0.5s forwards;
  }
}

@keyframes toastAnimation {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.rounded-btn {
  .switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0;
    bottom: -1px;
    background-color: white;
    transition: 0.4s;
    border: 0.5px solid #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  input:checked + .slider {
    background-color: #fe9458;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #fe9458;
  }

  input:checked + .slider:before {
    transform: translateX(24px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
