.collection-profile-top {
  position: relative;
  padding: 30px 0;
  @media (min-width: $sm) {
    padding: 58px 0;
  }
  .collection-meta {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img.collection-profile-img {
    display: block;
    width: 70px;
    height: 70px;
    @media (min-width: $sm) {
      width: 100px;
      height: 100px;
    }
    border-radius: 50%;
    object-fit: contain;
  }

  .profile-data {
    margin-left: 10px;
    @media (min-width: $sm) {
      margin-left: 20px;
    }
  }

  .profile-location {
    display: flex;
    align-items: baseline;
    margin-top: 5px;
    font-weight: 600;
    font-size: 14px;
    @media (min-width: $sm) {
      font-size: 16px;
      margin-top: 10px;
    }
    color: #757575;
    img {
      margin-right: 5px;
      display: block;
    }
    span {
      line-height: 1.2;
    }
  }

  .profile-name {
    font-weight: 700;
    font-size: 24px;
    @media (min-width: $sm) {
      font-size: 30px;
    }
    line-height: 1.2;
    color: #000000;
  }
}

// .collections-title-wrap {
//   position: sticky;
//   z-index: 10;
//   // padding: 20px 0;
//   // margin: 10px 0 30px;
//   top: -1px;
//   display: flex;
//   align-items: center;
//   // opacity: 0;
//   .collections-title {
//     font-weight: 700;
//     font-size: 20px;
//     // display: none;
//     @media (min-width: $sm) {
//       font-size: 24px;
//     }
//     line-height: 1.2;
//     color: #000000;
//   }
//   .collection-title-img {
//     display: none;
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//   }
//   .profile-title {
//     display: none;
//     font-weight: 600;
//     font-size: 15px;
//     @media (min-width: $sm) {
//       font-size: 18px;
//     }
//     line-height: 1.2;
//     color: #606163;
//   }
//   &.is-pinned {
//     padding: 15px 0;
//     background: #f3f2ef;
//     border-bottom: 1px solid #e1e0db;
//     // opacity: 1;
//     .collections-title {
//       font-weight: 600;
//       font-size: 15px;
//       // display: block;
//       @media (min-width: $sm) {
//         font-size: 18px;
//       }
//     }
//     .collection-title-img {
//       display: block;
//     }
//     .profile-title {
//       display: block;
//       margin-left: 8px;
//       margin-right: 8px;
//       &::after {
//         content: "/";
//         display: inline-block;
//         vertical-align: middle;
//         margin-left: 8px;
//       }
//     }
//   }
// }

.collections-wrap {
  .cards-wrap .card-logo {
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
      margin: 0 auto;
      width: 22px;
      height: 22px;
      object-fit: contain;
      border-radius: 0 !important;
    }
  }
  .card-box:nth-child(5n + 1) .card-logo {
    background: #58aefe;
  }
  .card-box:nth-child(5n + 2) .card-logo {
    background: #fe9458;
  }
  .card-box:nth-child(5n + 3) .card-logo {
    background: #fa7b7b;
  }
  .card-box:nth-child(5n + 4) .card-logo {
    background: #9d79ea;
  }
  .card-box:nth-child(5n + 0) .card-logo {
    background: #4dc07e;
  }
}

.cards-wrap {
  .card-head-more {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 30px;
    width: 36px;
    height: 36px;
    background: #e1e0db;
    border-radius: 50px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: #ccc;
    }
    @media (min-width: $xs) {
      &[data-tooltip]::before {
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        width: max-content;
        right: calc(100% + 8px);
        top: 50%;
        transform: translateY(-50%);
        padding: 5px 10px;
        background: #222;
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        border-radius: 6px;
        opacity: 0;
        pointer-events: none;
        line-height: 1.3;
      }
      &[data-tooltip]:hover::before {
        opacity: 1;
      }
    }
    img {
      pointer-events: none;
    }
    ul {
      position: absolute;
      right: 0;
      bottom: calc(100% + 10px);
      background: #e1e0db;
      box-shadow: 0px 2px 5px 4px rgba(0, 0, 0, 0.06);
      border-radius: 7px;
      padding: 6px;
      width: 180px;
      text-align: left;
      z-index: 2;
      display: none;
      li {
        padding: 7px 10px;
        border-radius: 5px;
        margin-bottom: 3px;
        &:last-child {
          margin-bottom: 0;
        }
        a,
        span,
        button {
          display: flex;
          align-items: center;
          width: 100%;
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.3;
          color: #666666;
          outline: 0;
          border: 0;
          background: transparent;
          padding: 0;
          margin: 0;
          img {
            width: 13px;
            height: 13px;
            object-fit: contain;
            display: block;
            margin-right: 10px;
          }
        }
        &:hover {
          background: #f0efea;
        }
      }
    }
    &.active {
      z-index: 90;
      ul {
        display: block;
      }
    }
  }
}

.collections-tab-items {
  position: sticky;
  margin: 40px 0 20px;
  padding: 15px 0;
  top: 0;
  background: #f3f2ef;
  z-index: 10;
  display: flex;
  align-items: stretch;
  @media (min-width: $sm) {
    margin: 20px 0 40px;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #e1e0db;
    position: absolute;
  }
  .tab-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    color: #666666;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin: 0 25px 0 0;
    padding: 0;
    position: relative;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    @media (min-width: $sm) {
      font-size: 24px;
      padding: 5px 0;
      margin: 0 40px 0 0;
    }
    i {
      display: inline-block;
      vertical-align: middle;
      background: #ff3a44;
      border-radius: 30px;
      color: #fff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 16px;
      margin-left: 3px;
    }
    &.active {
      color: #000;
      &::after {
        display: block;
        width: 100%;
        position: absolute;
        bottom: -15px;
        left: 0;
        height: 1px;
        background: #505050;
        content: "";
        z-index: 3;
      }
    }
  }
  .pinned-element {
    display: none;
  }
  &.is-pinned {
    padding: 15px 0;
    background: #f3f2ef;
    margin: 0;
    .pinned-element {
      display: flex;
      align-items: center;
    }
    .collection-title-img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .profile-title {
      font-weight: 600;
      font-size: 15px;
      display: inline-flex;
      align-items: center;
      @media (min-width: $sm) {
        font-size: 18px;
      }
      line-height: 1.2;
      color: #606163;
      margin-left: 8px;
      margin-right: 8px;
      &::after {
        content: "/";
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
      }
    }

    .tab-link {
      font-weight: 600;
      font-size: 15px;
      margin: 0;
      padding: 0;
      display: none;
      @media (min-width: $sm) {
        font-size: 18px;
      }
      i {
        font-size: 13px;
        width: 22px;
        height: 22px;
        line-height: 22px;
        @media (min-width: $sm) {
          font-size: 14px;
        }
      }
      &.active {
        display: inline-flex;
        &::after {
          display: none;
        }
      }
    }
  }
}

.collections-tab-content {
  .tab-item {
    display: none;
    &.active-tab {
      display: block;
    }
  }
  .cards-wrap .card-logo {
    border-radius: 50%;
    img {
      border-radius: 50%;
      margin: 0 auto;
    }
  }
  .card-box:hover {
    box-shadow: none;
  }
}

.inner-app-details {
  .collection-logo {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background: #58aefe;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    @media (min-width: $sm) {
      width: 172px;
      height: 172px;
    }
    img {
      width: 38px;
      height: 38px;
      object-fit: contain;
      border-radius: 0;
      display: block;
      @media (min-width: $sm) {
        width: 58px;
        height: 58px;
      }
    }
  }
}

.cards-wrap .card-box {
  &.invite-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    @media (min-width: $sm) and (max-width: $lg) {
      width: 100%;
    }
  }
}

.invite-card {
  .invite-form-box {
    outline: 1.6px solid #c4c4c4;
    border-radius: 11px;
    display: flex;
    width: 100%;
    overflow: hidden;
    text-align: left;
    max-width: 100%;
    margin: 28px auto;
    @media (max-width: $xs) {
      overflow: visible;
      flex-direction: column;
      outline: none;
      border-radius: 0;
    }
    .invite-form-field {
      display: flex;
      flex-grow: 1;
      border: 0;
      padding: 18px 20px;
      background: transparent;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #222;
      outline: 0;
      width: 100%;
      ::placeholder {
        color: #757575;
      }
      @media (max-width: $xs) {
        border: 1.6px solid #c4c4c4;
        border-radius: 11px;
      }
    }
    .invite-form-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 18px 30px;
      background: #191919;
      border: 0;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      line-height: 1.2;
      width: max-content;
      outline: 0;
      text-decoration: none;
      font-family: inherit;
      cursor: pointer;
      white-space: nowrap;
      i {
        width: 15px;
        height: 10px;
        display: block;
        position: relative;
        margin-left: 10px;
        background-image: url(../images/arrow-right-white.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        transition: all 0.3s ease;
      }
      &:hover {
        background: #000;
        text-decoration: none;
        i {
          background-position: right;
        }
      }
      @media (max-width: $xs) {
        margin: 20px 0 0;
        border-radius: 11px;
        width: 100%;
      }
    }
  }
  h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 15px;
    color: #000000;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #000000;
  }
  .invite-code-wrap {
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .invite-code-item {
      width: 100%;
      margin: 8px 0;
      display: flex;
      align-items: center;
      background: #f0efea;
      outline: 1.6px solid #c4c4c4;
      border-radius: 11px;
      position: relative;
      overflow: hidden;
      @media (min-width: $sm) {
        width: calc(50% - 7px);
      }
    }
  }
  .invite-code-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: #000000;
    @media (min-width: $sm) {
      font-size: 14px;
    }
    span {
      display: block;
      padding: 11px 12px;
      flex-grow: 1;
      @media (min-width: $sm) {
        padding: 11px 18px;
      }
    }

    button {
      display: block;
      background: #dedcd4;
      border: 0;
      height: 100%;
      padding: 11px 12px;
      min-width: 75px;
      outline: none;
      border-left: 1.6px solid #c4c4c4;
      margin: 0;
      cursor: pointer;
      &:hover {
        background: #ccc;
      }
      @media (min-width: $sm) {
        padding: 11px 18px;
        min-width: 100px;
      }
    }
  }

  .invited-people-wrap {
    display: flex;
    flex-wrap: wrap;
    .people-item {
      background: #f0efea;
      border-radius: 80px;
      padding: 5px;
      display: flex;
      align-items: center;
      margin: 0 15px 15px 0;
      min-width: 150px;
      @media (min-width: $sm) {
        margin: 0 20px 20px 0;
        min-width: 200px;
        padding: 7px;
      }
      i {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background: #79d5ea;
        color: #fff;
        border-radius: 50%;
        text-transform: uppercase;
        font-size: 12px;
        @media (min-width: $sm) {
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 14px;
        }
      }
      span {
        display: block;
        padding: 0 8px;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.4;
        color: #000000;
        @media (min-width: $sm) {
          font-size: 14px;
          padding: 0 12px;
        }
      }
    }
  }

  .invite-none {
    height: 100%;
    .zero-invites {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      height: 100%;
    }
    span {
      font-weight: 900;
      font-size: 184px;
      line-height: 1;
      color: #cacaca;
      display: block;
    }
    p {
      color: #666666;
      margin: 10px 0;
    }
  }
}
