/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
button,
select,
div,
span,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  color: #606163;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #f3f2ef;
  font-size: 16px;
  line-height: 1.2;
  position: relative;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media (min-width: $xs) {
    // min-width:500px
  }
  @media (min-width: $sm) {
    // min-width:768px
    padding: 0 25px;
  }
  @media (min-width: $md) {
    // min-width:1024px
    padding: 0 40px;
  }
  @media (min-width: $lg) {
    // min-width:1240px
    padding: 0 50px;
  }
  @media (min-width: $xl) {
    // min-width:1600px
    max-width: 1600px;
  }
}
a,
a:hover {
  transition: all 0.2s ease;
}
img {
  max-width: 100%;
}
.content-loading {
  width: 100%;
  margin: 20px 0 0;
  @media (min-width: $sm) {
    margin: 0;
  }
  img {
    width: 40px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    @media (min-width: $sm) {
      width: 50px;
    }
  }
}

strong {
  font-weight: bold;
}

.btn {
  background: #000000;
  border-radius: 9px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  line-height: 1.6;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  border: 0;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  @media (min-width: $sm) {
    font-size: 16px;
  }
  @media (min-width: $md) {
    font-size: 18px;
  }
  @media (min-width: $lg) {
    font-size: 20px;
  }
  &:hover {
    background: #222;
  }
}
