.search-wrap {
  flex: 1;
  margin: 20px 0 0;
  @media (min-width: $sm) {
    margin: 0;
  }
}
.search-box {
  position: relative;
  input {
    display: block;
    width: 100%;
    background: #ffffff url(../images/search.svg) no-repeat 15px 50%;
    border: 1px solid #e8e7e5;
    box-sizing: border-box;
    border-radius: 9px;
    height: 50px;
    padding: 10px 20px 10px 50px;
    font-size: 15px;
    color: #757575;
    outline: 0;
    @media (min-width: $sm) {
      padding: 10px 110px 10px 50px;
    }
    &:focus {
      border-color: #000;
    }
  }
  .keyboard-nav {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    pointer-events: none;
    @media (min-width: $sm) {
      display: block;
    }
    span {
      background: #f0efea;
      border-radius: 7px;
      height: 30px;
      display: block;
      float: left;
      margin-left: 6px;
      line-height: 30px;
      padding: 0 10px;
      font-size: 16px;
      color: #000;
    }
    &.macos {
      .nonmac-icon {
        display: none;
      }
    }
    &.nonmac {
      .mac-icon {
        display: none;
      }
    }
  }
}
