.os-tab {
  margin: 0 0 24px;
  @media (min-width: $sm) {
    margin: 0 0 32px;
  }
  .container {
    display: flex;
  }
  span {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.3;
    color: #888;
    margin: 0 24px 0 0;
    cursor: pointer;
    &:hover {
      color: #555;
    }
    &.active {
      color: #191919;
    }
  }
}
.tab-content-wrap {
  .tab-content {
    display: none;
    &.tab-active {
      display: block;
    }
  }
}
